<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IHMService" closeTimeout="00:10:00"
                    openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" />
                <binding name="BasicHttpBinding_IHMService1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50454/HMService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IHMService" contract="HM_WCFService.IHMService"
                name="BasicHttpBinding_IHMService" />
            <endpoint address="http://192.168.250.52:8081/HMService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHMService1"
                contract="HMSrvService.IHMService" name="BasicHttpBinding_IHMService1" />
        </client>
    </system.serviceModel>
</configuration>